<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APSN</key>
				<true/>
				<key>PluginType</key>
				<true/>
				<key>PStates</key>
				<false/>
				<key>APLF</key>
				<true/>
				<key>CStates</key>
				<false/>
			</dict>
		</dict>
		<key>FixMCFG</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Mask</key>
					<data></data>
					<key>Disabled</key>
					<false/>
					<key>OemTableId</key>
					<data></data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>ReplaceMask</key>
					<data></data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
					<key>Comment</key>
					<string>rename GPRW to XPRW (use with SSDT-GPRW.aml)</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Enabled</key>
					<true/>
					<key>TableSignature</key>
					<data></data>
					<key>Limit</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixACST</key>
				<true/>
				<key>FixRegions</key>
				<true/>
			</dict>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
	</dict>
	<key>Boot</key>
	<dict>
		<key>NeverHibernate</key>
		<false/>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>HibernationFixup</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>Arguments</key>
		<string>darkwake=0 dart=0 nv_disable=1 -wegnoegpu -xcpm -no_compat_check -v</string>
		<key>XMPDetection</key>
		<string>Yes</string>
		<key>Timeout</key>
		<integer>2</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>BigSur</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
			<key>Legacy</key>
			<false/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>3</integer>
		</dict>
		<key>Arbitrary</key>
		<array>
			<dict>
				<key>PciAddr</key>
				<string>PciRoot(0x0)/Pci(0x2,0x0)</string>
				<key>Comment</key>
				<string>iGPU</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>AAPL,ig-platform-id</string>
						<key>Value</key>
						<data>CgBmAQ==</data>
						<key>Disabled</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>AwQAAAAEAAAHAQAA</data>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>AwQAAAAIAAAHAQAA</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>HDMI Audio Port 0205 01660009</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>QVBQTEUgU1NEAA==</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAA==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>xoDIAAAAAQ==</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>xoDIAAAAAA==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable USB3 post wake</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AQAAdRc=</data>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAA6xc=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Second Stage Boot</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
		</array>
		<key>KernelLapic</key>
		<true/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x03</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>Family</key>
		<string>MacBookAir</string>
		<key>ProductName</key>
		<string>MacBookAir5,2</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>SetupVirtualMap</key>
		<true/>
		<key>DisableIoMapper</key>
		<true/>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>FuzzyMatch</key>
		<true/>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>ProvideConsoleGopEnable</key>
		<true/>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>EnableWriteUnprotector</key>
		<true/>
	</dict>
</dict>
</plist>